body {
    background: #181818;
    color: #b0b0b0;
}

.browse-shadow-remover {
    background: #181818;
}

a, .pseudoLink {
    color: white;
}

a:hover, .pseudoLink:hover {
    color: #dddddd;
}

.header-bottom-bar {
    background: linear-gradient(to bottom, #343434 1%, #202020 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #343434), color-stop(100%, #202020));
    background: -webkit-linear-gradient(top, #343434 1%, #202020 100%);
    background: -o-linear-gradient(top, #343434 1%, #202020 100%);
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"] {
    background: #121212;
    border: 1px solid #131313;
    color: white;
}

input[type="text"]:hover, input[type="search"]:hover, input[type="password"]:hover, input[type="email"]:hover {
    border: 1px solid #3b3b3b;
}


input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border: 1px solid #262626;
}

.header-middle-nav a {
    background: linear-gradient(to bottom, #2f2f2f 0, #171717 100%);
    color: white;
    border-color: transparent;
}

.header-middle-nav a:hover {
    color: black !important
}

footer {
    background: #191919;
    border: 1px solid #404040;
}

footer > div:first-of-type {
    border-bottom: 1px solid #404040;
}

footer > div:last-of-type > div {
    border-right-color: #404040;
}

.yellowBox {
    background: #1b1b0a;
    border: 1px solid #232323;
}

.home-side-box {
    background: #0a1425;
    border: 1px solid #182548;
}

.homepagePlayer-info {
    background: linear-gradient(to bottom,#333333 3%,#000 100%);
    border-color: #333;
}

#modal, .squareBox {
    border: 1px solid #353535;
    background: #202020;
}

#modal > div, .squareBox > div {
    background: #222;
    border: 1px solid #262626;
}

.video-contest > div:first-of-type {
    color: #fff !important;
}

.yellowBox {
    background: #222;
    border: 1px solid #202020;
}

.yellowBox h3 {
    color: #fff;
}

.yellowBox > div > div a {
    color: #fff !important;
}

.yellowBox > div > div:last-of-type a {
    color: #fff !important;
}

.yellowBox > div:last-of-type a {
    color: #fff;
}

.home-side-box {
    background: #222;
    border: 1px solid #202020;
}

.home-side-box > h3 {
    color: #fff;
}

body {
    color: #fff;
}

.trendingVideos > div:first-of-type .sel {
    font-weight: 700;
    color: #fff;
    pointer-events: none;
}

.header-middle-nav a {
text-shadow: 0 0px 0px #fff;
}

footer strong {
    color: #fff;
}

.footer-button.sel, .footer-button:active {
    background: linear-gradient(to bottom,#181818 37%,#181818 67%,#181818 100%);
}

.footer-button {
    background: linear-gradient(to bottom,#fff 37%,#fff 37%,#eaeaea 100%);
	border: 1px solid #2f2f2f;
	box-shadow: 0 0 0px 0 rgba(184,184,184,.45);
}

.footer-button {
    background: linear-gradient(to bottom,#181818 37%,#181818 37%,#181818 100%);
    border: 1px solid #2f2f2f;
    box-shadow: 0 0 0px 0 rgba(184,184,184,.45);
}

.browse-menu {
    background: linear-gradient(to bottom,#181818 0,#181818 88%);
}

.trendingVideos > div:first-of-type {
    border-bottom: 1px solid #393939;
    border-top: 1px solid #2f2f2f;
}

.videoThumbnail {
    border: 3px double #2d2d2d;
}

.channelAvatar {
    border: 3px double #2d2d2d;
}

.btn, button, input[type="button"], input[type="submit"] {
    border: 1px solid #5e5e5e;
    background: linear-gradient(to bottom,#535353 0,#424242 100%);
	color: white;
}
